* {
	margin: 0;
	padding: 0;
}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif; 
}

img{
	border: none;
}

.container {
	width: 960px;
	background-color: #FFF;
	margin: 0 auto;   /* 侧边的自动值与宽度结合使用，可以将布局居中对齐 */
	border:1px solid gray;
	color:#333;
	line-height:200%;
}

.header { 
	width:960px;
	height:120px;
	border-bottom:0px solid gray;
	margin:0 auto;
	clear:both; 
}

.header img{
	border:0px;
	padding:0px;
	display:block;
}


.nav_container{
	width:960px;
	margin:0 auto;
	clear:both; 
	margin-bottom:20px;	 
}

.nav_container div{
	margin:0 auto;
}

.content {
	width:960px;
	margin:0 auto;
	clear:both;
	text-align: center; 
	height:auto;
	min-height: 400px;
}

.content div{
	margin:0 auto;
}

.content h{
	margin-top: 100px;
}

.content table{
	margin:0 auto;
	margin-top: 20px;
	table-layout:fixed;
}

.content table td, 
.content table th {
	word-break:break-all; 
	word-wrap:break-word;
}

.content div div{
	margin:0 auto;
}

/* ~~ 其它浮动/清除类 ~~ */
.fltrt {  /* 此类可用于在页面中使元素向右浮动。浮动元素必须位于其在页面上的相邻元素之前。 */
	float: right;
}
.fltlft { /* 此类可用于在页面中使元素向左浮动。浮动元素必须位于其在页面上的相邻元素之前。 */
	float: left;
}
.clearfloat { 
	clear:both;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

.show{
	display: block;
}
.hide{
	display: none;
}

#preview{
	width:300px;
	height:100px;
	border:0px solid #000;
	overflow:hidden;
	text-align: left;
}

#imghead {
	text-align: left;
	display:block;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
}

#divhead{
	text-align: left;
}

.input_content{
	font-size:18px;
	width:180px;
	height:25px;
	line-height: 25px;
}

.input_img{
	font-size:18px;
	width:300px;
	height:25px;
	line-height: 25px;
}

td img {
	vertical-align:middle;
}

#hint_div{
	margin-top: 100px;
	margin-bottom: 30px;
}
