
/*---------------------------------------------------------*/

.nav {
	width: 960px;
	background: url(../img/menu_bj_2.png) no-repeat 0 0;
	height: 50px;
	line-height: 50px;
	vertical-align: bottom;
	padding-left:120px;
}

.nav ul,.nav li {
	float: left;
}

.nav li {
	width: 102px;
	display: block;
	background: url(../img/menu_bj_1.gif) no-repeat 0 50%;
	padding-left: 2px;
}

.nav li.bgcolor a {
	color: #ecde29;
}

.nav li.bgcolor a:hover {
	color: #ecde29;
}

.nav li,.nav li a {
	float: left;
	font-size: 14px;
	color: #FFFFFF;
}

.nav li a {
	font-weight: bold;
	color: #fff;
	width: 100px;
	text-align: center;
	padding-left: 1px;
	text-decoration: none;
}

.nav li a:hover {
	text-decoration: none;
	background: url(../img/menu_over.jpg) no-repeat;
	color: #fff;
}

.nav li.bgno a {
	color: #fff;
}

/*-----主菜单选中设置---------*/
#scribe .nav li.scribe, 
#menu .nav li.menu,
#user .nav li.user, 
#achievement .nav li.achievement,
#prestudent .nav li.prestudent
{
	background: url(../img/menu_bj_4.gif) no-repeat 0 0px;
	color: #FFFFFF;
	padding-left: 2px;
}

/*---------------------------------------------------------------------------------------------*/
.out_subnav{
	width:100%;
	font-family:arial, verdana, sans-serif; 
	font-size:11px;
	background: url(../img/submenu_bg.gif) repeat-x;
	clear: both; 
}

.sub_nav{ 
	width:60%; 
	height:35px; 
	line-height:35px; 
	margin:0 auto;
	background:url(../img/submenu_bg.gif) no-repeat 0 0;	
}

.sub_nav ul{ 
	padding:0;
	margin:0;
}

.sub_nav li{ 
	width:100px; 
	height:35px;	 
	padding-left:15px;
	float:left;  /*让li元素左浮动, 变成横向排列*/
	font-size:14px;
	color:#FFFFFF;
	list-style:none;
	
}

.sub_nav li a{
	font-size:14px; 
	color:#FFFFFF;
	font-weight:bold; 
	width:100px;
	height:35px; 
/* 	text-align:center; */
	padding-left:1px; 
	text-decoration:none;  /*去掉下划线*/
	display:block; /*这个比较关键，因为a本身就是联级元素，本身不具有宽高，用这个把它变成块级元素，这样前面设置的宽和高就能起作用了*/
}
.sub_nav li a:hover{ 
	text-decoration:none; /*去掉下划线*/
	background:url(../img/submenu_bg2.png) no-repeat 0 0;
	color:#FF0000;
	text-align: center;
}

/*-----子菜单项的选中设置---------*/
#get_menu .sub_nav .get_menu a,
#add_menu .sub_nav .add_menu a,

#get_scribe .sub_nav .get_scribe a, 
#add_scribe .sub_nav .add_scribe a,

#get_achievement .sub_nav .get_achievement a, 
#add_achievement .sub_nav .add_achievement a,

#get_prestudent .sub_nav .get_prestudent a, 
#export_prestudent .sub_nav .export_prestudent a,

{
	background: url(../img/submenu_bg2.png) no-repeat 0 0;
	text-decoration:none; /*去掉下划线*/
	color: #FF0000;
	text-align: center;
}

/*-----子菜单的显示与隐藏---------*/
#menu .out_subnav .menu, 
#scribe .out_subnav .scribe, 
#achievement .out_subnav .achievement,
#prestudent .out_subnav .prestudent
{
	display:block;
}

#menu .out_subnav .scribe, #menu .out_subnav .achievement, #menu .out_subnav .prestudent,

#scribe .out_subnav .menu, #scribe .out_subnav .achievement, #scribe .out_subnav .prestudent,
 
#achievement .out_subnav .menu, #achievement .out_subnav .scribe, #achievement .out_subnav .prestudent,

#prestudent .out_subnav .menu,  #prestudent .out_subnav .scribe, #prestudent .out_subnav .achievement

{ 
	display:none;
}
 
