
#page_1 table, #page_1  tr, #page_1  td {
	border:0px;
}

#page_2 table, #page_2  tr, #page_2  td {
	border:0px;
}

#page_3 table, #page_3  tr, #page_3  td {
	border:0px;
}

table {
	width:100%;
}

#page_1 table td {
	width:33.3%;
}
	
#page_2 table td {
	width:33.3%;
}

#page_3 table td {
	width:33.3%;
}

div p {
	margin: 0 auto;
}

.header_text , .header_icon {
	vertical-align:middle;	
}

.header_text {
	padding-top: 3px;
}

.list_icon {
	vertical-align:middle;
	margin-top: 5px;
}

.list_text {
	height:50px; 
	line-height:50px;
/* 	font-size:0.875em; */
}

.block_list_text{
	font-size:0.875em;
}


